.users {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-block-size: calc(100vh - 112px);
}

.users__title {
	color: var(--white);
	font: var(--headline-4);
	margin: 0;
}

@media screen and (min-width: 767px) {
	.users__title {
		font: var(--headline-3);
	}
}